<div role="document">
    <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel">{{title();}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <i class="zmdi zmdi-close"></i>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="_form">
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class="form-control-label">Mã loại hàng</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="_maLoai" name="_maLoai" ng-model="target.MALOAI" required placeholder="Nhập mã loại" class="form-control" disabled>
                    <small class="form-text text-muted" ng-show="_form._maLoai.$dirty && _form._maLoai.$invalid">
                        <span ng-show="_form._maLoai.$error.required">Mã loại không được để trống</span>
                    </small>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class="form-control-label">Tên loại hàng</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="_tenLoai" name="_tenLoai" ng-model="target.TENLOAI" required placeholder="Nhập tên loại" class="form-control" disabled>
                    <small class="form-text text-muted" ng-show="_form._tenLoai.$dirty && _form._tenLoai.$invalid">
                        <span ng-show="_form._tenLoai.$error.required">Tên loại không được để trống</span>
                    </small>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="select" class="form-control-label">Trạng thái</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                </div>
                <div class="col-12 col-md-9">
                    <select id="_trangThai" name="_trangThai" ng-model="target.TRANGTHAI" required ng-options="opt.VALUE as opt.TEXT for opt in tempData('status')" class="form-control" disabled></select>
                    <small class="form-text text-muted" ng-show="_form._trangThai.$dirty && _form._trangThai.$invalid">
                        <span ng-show="_form._trangThai.$error.required">Trạng thái không được để trống</span>
                    </small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" prevent-default class="btn btn-warning" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-window-close"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
    </div>
</div>