<div role="document">
    <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel">{{title();}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="_form">
            <div class="row form-group">
                <div class="col col-md-12">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <div class="form-group">
                                <label for="text-input" class="form-control-label">Ngày đặt phòng</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                                <div class="input-group">
                                    <input class="form-control" id="_ngayDatPhong" type="text" ng-model="target.NGAY_DATPHONG" placeholder="{{config.dateFormat}}" uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayDatPhong" datepicker-localdate readonly/>
                                </div>
                                <small class="form-text text-muted" ng-show="_form._ngayDatPhong.$dirty && _form._ngayDatPhong.$invalid">
                                    <span ng-show="_form._ngayDatPhong.$error.required">Ngày đặt phòng không được để trống</span>
                                </small>
                            </div>
                        </div>
                        <div class="col col-md-3" >
                            <div class="form-group">
                                <label for="text-input" class="form-control-label">Thời gian đặt</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                                <div class="input-group">
                                    <input class="form-control" id="_thoiGianDatPhong" type="text" ng-model="target.THOIGIAN_DATPHONG" onload="showTime()" />
                                    <div class="input-group-addon" title="Tự cài thời gian" ng-click="settingTime();">
                                        <i class="fa fa-clock"></i>
                                    </div>
                                </div>
                                <small class="form-text text-muted" ng-show="_form._thoiGianDatPhong.$dirty && _form._thoiGianDatPhong.$invalid">
                                    <span ng-show="_form._thoiGianDatPhong.$error.required">Thời gian đặt không được để trống</span>
                                </small>
                            </div>
                        </div>
                        <div class="col col-md-3">
                            <div class="form-group">
                                <label for="text-input" class="form-control-label">Khách hàng</label>
                                <div class="input-group">
                                    <input class="form-control" enter id="_tenKhachHang" type="text" ng-model="target.TEN_KHACHHANG" autofocus/>
                                    <div class="input-group-addon" title="Bổ sung thông tin khách hàng" ng-click="addInfoCus();" ng-show="isShow">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                    <div class="input-group-addon" title="Bổ sung thông tin khách hàng" ng-click="minusInfoCus();" ng-show="!isShow">
                                        <i class="fa fa-minus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-3">
                            <div class="form-group">
                                <label for="text-input" class="form-control-label" style="opacity: 0">*</label>
                                <div class="input-group">
                                    <button type="button" prevent-default class="btn btn-success" ng-disabled="_form.$invalid || _formDetails.$invalid || _formTotal.$invalid || isValid" ng-click="save()" ng-enter="save()"><i class="fa fa-book"></i>&nbsp;&nbsp;Đặt phòng ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group" ng-show="isAddInfoCustomer">
                        <div class="col col-md-3">
                            <div class="form-group">
                                <label for="text-input" class="form-control-label">Điện thoại</label>
                                <div class="input-group">
                                    <input class="form-control" id="_dienThoai" type="text" ng-model="target.DIENTHOAI" min="3" max="12"/>
                                </div>
                                <small class="form-text text-muted" ng-show="_form._dienThoai.$dirty">
                                    <span ng-show="_form._ngayDatPhong.$error.required">Điện thoại không đúng (lớn hơn 2 và nhỏ hơn 12 ký tự)</span>
                                </small>
                            </div>
                        </div>
                        <div class="col col-md-3">
                            <div class="form-group">
                                <label for="text-input" class="form-control-label">Căn cước</label>
                                <div class="input-group">
                                    <input class="form-control" id="_canCuocCongDan" type="text" ng-model="target.CANCUOC_CONGDAN" max="20"/>
                                    <small class="form-text text-muted" ng-show="_form._canCuocCongDan.$dirty">
                                        <span ng-show="_form._dienGiai.$error.required">Căn cước chỉ tối đa 20 ký tự</span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label for="text-input" class="form-control-label">Diễn giải</label>
                                <div class="input-group">
                                    <input class="form-control" id="_dienGiai" type="text" ng-model="target.DIENGIAI" max="200"/>
                                    <small class="form-text text-muted" ng-show="_form._dienGiai.$dirty">
                                        <span ng-show="_form._dienGiai.$error.required">Diễn giải chỉ tối đa 200 ký tự</span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th class="th customize" style="width:15%"><span class="title">Mã phòng</span></th>
                                    <th class="th customize" style="width:15%"><span class="title">Ngày đặt</span></th>
                                    <th class="th customize" style="width:15%"><span class="title">Thời gian đặt</span></th>
                                    <th class="th customize" style="width:20%"><span class="title">Khách hàng</span></th>
                                    <th class="th customize" style="width:15%"><span class="title">Số giờ</span></th>
                                    <th class="th customize" style="width:20%"><span class="title">Trạng thái</span></th>
                                    <th class="th customize" style="width:5%"><span class="title">#</span></th>
                                </tr>
                            </thead>
                            <tbody ng-form name="_formDetails">
                                <tr class="spacer"></tr>
                                <tr class="tr-shadow" ng-repeat="item in listBooking | orderBy:'THOIGIAN_DATPHONG':true track by $index" title="Mã đặt phòng {{item.MA_DATPHONG}}">
                                    <td class="text">
                                        <input enter type="text" id="_maPhong" name="_maPhong" onClick="this.select();" ng-model="item.MAPHONG" required typeahead-editable="false" uib-typeahead="opt.VALUE as opt.TEXT for opt in tempData('phong') | filter:$viewValue | limitTo:5" typeahead-on-select="" typeahead-input-formatter="convertCodeToName($model, 'phong')" class="form-control" readonly>
                                    </td>
                                    <td class="text">
                                        <input class="form-control" type="text" id="_ngayDatPhong" name="_ngayDatPhong" onClick="this.select();" ng-model="item.NGAY_DATPHONG" required placeholder="{{config.dateFormat}}" uib-datepicker-popup="{{config.dateFormat}}" datepicker-localdate readonly />
                                    </td>
                                    <td class="text">
                                        <input type="text" id="_thoiGianDatPhong" name="_thoiGianDatPhong" onClick="this.select();" ng-model="item.THOIGIAN_DATPHONG" class="form-control" readonly>
                                    </td>
                                    <td class="text">
                                        <input type="text" id="_tenKhachHang" name="_tenKhachHang" onClick="this.select();"  ng-model="item.TEN_KHACHHANG" class="form-control" readonly>
                                    </td>
                                    <td class="text" >
                                        <div ng-bind-html="item.inputTextThoiGianDat"></div>
                                    </td>
                                    <td class="text" ng-if="item.TRANGTHAI === 10">
                                        <button type="button" class="btn btn-success">
                                            Đã đặt&nbsp;
                                            <span class="badge badge-light"><i class="fa fa-check"></i></span>
                                        </button>
                                    </td>
                                    <td class="text" ng-if="item.TRANGTHAI === 0">
                                        <button type="button" class="btn btn-danger">
                                            Chưa đặt &nbsp;
                                            <span class="badge badge-light"><i class="fa fa-times"></i></span>
                                        </button>
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Cập nhật giờ đặt phòng {{item.MA_DATPHONG}}" ng-disabled="_formDetails.$invalid" ng-click="updateBooking($event,item);">
                                                <i class="zmdi zmdi-time-restore-setting"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Hủy đặt phòng {{item.MA_DATPHONG}}" ng-disabled="_formDetails.$invalid" ng-click="removeBooking($event,item);">
                                                <i class="zmdi zmdi-close-circle-o"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" prevent-default class="btn btn-warning" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-window-close"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
    </div>
</div>