<div role="document">
    <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel">{{title();}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="_form">
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class="form-control-label">Mã loại phòng</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="_maLoaiPhong" name="_maLoaiPhong" ng-model="target.MALOAIPHONG" required placeholder="Nhập mã loại phòng" class="form-control" disabled>
                    <small class="form-text text-muted" ng-show="_form._maLoaiPhong.$dirty && _form._maLoaiPhong.$invalid">
                        <span ng-show="_form._maLoaiPhong.$error.required">Mã loại phòng không được để trống</span>
                    </small>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class="form-control-label">Tên loại phòng</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="_tenLoaiPhong" name="_tenLoaiPhong" ng-model="target.TENLOAIPHONG" required placeholder="Nhập tên loại phòng" class="form-control">
                    <small class="form-text text-muted" ng-show="_form._tenLoaiPhong.$dirty && _form._tenLoaiPhong.$invalid">
                        <span ng-show="_form._tenLoaiPhong.$error.required">Tên loại phòng không được để trống</span>
                    </small>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class="form-control-label">Mã bó hàng</label>
                </div>
                <div class="col-12 col-md-9">
                    <input enter type="text" id="_maBoHang" name="_maBoHang" ng-model="target.MABOHANG" placeholder="Nhập bó hàng" typeahead-editable="false"
                           uib-typeahead="opt.VALUE as opt.TEXT for opt in tempData('boHang') | filter:$viewValue | limitTo:5" typeahead-on-select=""
                           typeahead-input-formatter="convertCodeToName($model, 'boHang')" class="form-control">
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="select" class="form-control-label">Trạng thái</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                </div>
                <div class="col-12 col-md-9">
                    <select id="_trangThai" name="_trangThai" ng-init="target.TRANGTHAI = 10" ng-model="target.TRANGTHAI" required ng-options="opt.VALUE as opt.TEXT for opt in tempData('status')" class="form-control"></select>
                    <small class="form-text text-muted" ng-show="_form._trangThai.$dirty && _form._trangThai.$invalid">
                        <span ng-show="_form._trangThai.$error.required">Trạng thái không được để trống</span>
                    </small>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-6">
                    <!--BACKGROUND-->
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="file-multiple-input" class="form-control-label">Background</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="file-input-background" onchange="angular.element(this).scope().uploadBackground(this)" accept="image/*" class="form-control-file" text="Chọn background" type="file" placeholder="Tải background" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 col-md-12">
                            <div class="preview " ng-if="target.BACKGROUND" style="float: right; float: left; margin: 5px; height: 200px; width: 200px; border: 1px solid #000; border-radius: 5px;">
                                <div style="width: 200px; height: 150px; overflow: hidden; border-bottom: 1px solid #000;">
                                    <img ng-src="data:image/JPEG;base64,{{target.BACKGROUND}}" width="195" height="145" />
                                </div>
                                <div style="width: 200px; height: 50px; text-align: center; padding: 8px;">
                                    <button class="form-control" style="margin: auto" ng-click="deleteBackground()">Xóa Background</button>
                                </div>
                            </div>
                            <div class="preview " ng-if="fileBackground.SRC" style="float: right; float: left; margin: 5px; height: 200px; width: 200px; border: 1px solid #000; border-radius: 5px;">
                                <div style="width: 200px; height: 150px; overflow: hidden; border-bottom: 1px solid #000;">
                                    <img rel="popover" ng-src="{{fileBackground.SRC}}" width="195" height="145" />
                                </div>
                                <div style="width: 200px; height: 50px; text-align: center; padding: 8px;">
                                    <button class="form-control" style="margin: auto" ng-click="deleteBackground()">Xóa Background</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <!--ICON-->
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="file-multiple-input" class="form-control-label">Icon</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input id="file-input-icon" onchange="angular.element(this).scope().uploadIcon(this)" accept="image/*" class="form-control-file" text="Chọn icon" type="file" placeholder="Tải icon" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12 col-md-12">
                            <div class="preview " ng-if="target.ICON" style="float: right; float: left; margin: 5px; height: 200px; width: 200px; border: 1px solid #000; border-radius: 5px;">
                                <div style="width: 200px; height: 150px; overflow: hidden; border-bottom: 1px solid #000;">
                                    <img ng-src="data:image/svg+xml;base64,{{target.ICON}}" width="195" height="145" />
                                </div>
                                <div style="width: 200px; height: 50px; text-align: center; padding: 8px;">
                                    <button class="form-control" style="margin: auto" ng-click="deleteIcon()">Xóa Icon</button>
                                </div>
                            </div>
                            <div class="preview " ng-if="fileIcon.SRC" style="float: right; float: left; margin: 5px; height: 200px; width: 200px; border: 1px solid #000; border-radius: 5px;">
                                <div style="width: 200px; height: 150px; overflow: hidden; border-bottom: 1px solid #000;">
                                    <img rel="popover" ng-src="{{fileIcon.SRC}}" width="195" height="145" />
                                </div>
                                <div style="width: 200px; height: 50px; text-align: center; padding: 8px;">
                                    <button class="form-control" style="margin: auto" ng-click="deleteIcon()">Xóa Icon</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" prevent-default class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;&nbsp;{{config.label.btnSubmit}}</button>
        <button type="button" prevent-default class="btn btn-warning" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-window-close"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
    </div>
</div>