<style>
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-left: 5px !important;
    }

    .table-data3 thead tr th {
        padding: 15px 20px;
    }

    .selected {
        color: blue;
        background-color: #EEEEEE;
    }

    .highlightTd {
        border: 3px solid red !important;
    }

    select, option {
        text-align-last: right;
        text-align: right;
        -ms-text-align-last: right;
        -moz-text-align-last: right;
    }
</style>
<script>
    $(document).ready(function () {
        $(".menu-sidebar3").css("height", $(".table-responsive").height());
    });
    $(document).ready(function () {
        $('#showPay').click(function () {
            $('.infoPay').toggle("slide");
        });
    });
</script>
<section class="alert-wrap p-t-10 p-b-10"></section>
<section keyboard="keys">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <aside class="menu-sidebar3 js-spe-sidebar">
                    <nav class="navbar-sidebar2 navbar-sidebar3">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub" id="showPay">
                                <a class="js-arrow" href="">
                                    <i class="zmdi zmdi-view-list"></i>Danh sách phòng đã đặt
                                    <span class="arrow">
                                        <i class="zmdi zmdi-rss"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" ng-repeat="item in listBookingRoom | orderBy:'TENPHONG':false track by $index " ng-click="dischargeRoom(item);" ng-class="{selected: item.MA_DATPHONG === selectedMaDatPhong}">
                                    <i class="{{item.ICON}}"></i>{{item.TENPHONG}} - Tầng {{item.TANG}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <aside class="infoPay" style="display: none;">
                    <nav class="navbar-sidebar2 navbar-sidebar3">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub">
                                <a class="js-arrow" href="">
                                    <i class="zmdi zmdi-paypal-alt"></i>Thông tin thanh toán
                                    <span class="arrow">
                                        <i class="zmdi zmdi-playstation"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="has-sub">
                                <div ng-bind-html="trustTONGTIEN_THANHTOAN"></div>
                            </li>
                            <li class="has-sub">
                                <input class="form-control" type="text" ng-value="'Phòng: ' + convertCodeToName(data.MAPHONG,'phong')" style="height: 45px;border-bottom: 1px solid #f5f5f5;background: #fff;font-size: 16px;color: #000000;padding-right: 10px;" readonly />
                            </li>
                            <!--<li class="has-sub">
                                <input class="form-control" type="text" ng-value="'Mã thanh toán: ' + data.MA_DATPHONG" style="height: 45px;border-bottom: 1px solid #f5f5f5;background: #fff;font-size: 14px;color: #000000;padding-right: 10px;" readonly />
                            </li>-->
                            <li class="has-sub">
                                <input class="form-control" type="text" ng-value="'Khách hàng: ' + data.TEN_KHACHHANG" style="height: 45px;border-bottom: 1px solid #f5f5f5;background: #fff;font-size: 16px;color: #000000;padding-right: 10px;" readonly />
                            </li>
                            <li class="has-sub">
                                <input class="form-control" type="text" ng-value="'Ngày đặt phòng: ' + config.moment($scope.data.NGAY_DATPHONG).format('DD-MM-YYYY')" style="height: 45px;border-bottom: 1px solid #f5f5f5;background: #fff;font-size: 16px;color: #000000;padding-right: 10px;" readonly />
                            </li>
                            <li class="has-sub">
                                <input class="form-control" type="text" ng-value="'Thời gian đặt phòng: ' + data.THOIGIAN_DATPHONG" style="height: 45px;border-bottom: 1px solid #f5f5f5;background: #fff;font-size: 16px;color: #000000;padding-right: 10px;" readonly />
                            </li>
                            <li class="has-sub">
                                <input class="form-control" id="_thoiGianHienTai" type="text" ng-model="data.THOIGIAN_HIENTAI" onload="showTime()" style="height: 45px;border-bottom: 1px solid #f5f5f5;background: #fff;font-size: 16px;color: #000000;padding-right: 10px;" readonly />
                            </li>
                            <!--<li class="has-sub">
                                <div ng-bind-html="trustSOGIO"></div>
                            </li>-->
                        </ul>
                    </nav>
                </aside>
            </div>
            <div class="col-xl-9">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="alert-wrap p-t-0 p-b-10">
                                <form class="form-header form-header2">
                                    <input class="au-input au-input--w250" type="text" name="search" placeholder="Thêm sản phẩm" style="border-color: #4272d7;width: 135px;" ng-model="search.MAHANG" ng-enter="changedMaHang(search.MAHANG);" />
                                    <button class="au-btn--submit" type="submit">
                                        <i class="zmdi zmdi-collection-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-warning btn-lg" style="margin: 0 5px;font-size: 18px;" ng-click="historyPay();"><i class="zmdi zmdi-receipt">&nbsp;&nbsp;Lịch sử thanh toán</i></button>
                                    <button type="button" class="btn btn-success" style="margin: 0 5px;font-size: 18px;" ng-click="payRoom();"><i class="zmdi zmdi-paypal-alt">&nbsp;&nbsp;Thanh toán (F9)</i></button>
                                    <button type="button" class="btn btn-primary" style="margin: 0 5px;font-size: 18px;" ng-click="transferTable()"><i class="zmdi zmdi-swap">&nbsp;&nbsp;Chuyển bàn</i></button>
                                    <button type="button" class="btn btn-primary" style="margin: 0 5px;font-size: 18px;"><i class="zmdi zmdi-arrow-merge">&nbsp;&nbsp;Ghép bàn</i></button>
                                    <button type="button" class="btn btn-warning" style="margin: 0 5px;font-size: 18px;" ng-click="cancel()"><i class="fa fa-window-close">&nbsp;{{config.label.btnCancel}}</i></button>
                                </form>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3" navigatable>
                                    <thead style="background: #4272d7;">
                                        <tr>
                                            <th style="width: 5%;">STT</th>
                                            <th style="width: 25%;">Tên hàng</th>
                                            <th style="width: 10%;text-align: center;">Đơn vị</th>
                                            <th style="width: 15%;text-align: center;">Số lượng</th>
                                            <th style="width: 12%;text-align: center;">Đơn giá</th>
                                            <th style="width: 13%;text-align: center;">Thành tiền</th>
                                            <th style="width: 10%;text-align: right;">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in data.DtoDetails track by $index">
                                            <td style="padding: 15px 10px;text-align:center;">{{$index + 1}}</td>
                                            <td style="padding: 15px 10px;">{{item.TENHANG}}</td>
                                            <td>{{item.DONVITINH}}</td>
                                            <td style="padding: 12px 20px;">
                                                <div class="input-group" style="width: 110%;">
                                                    <span class="input-group-btn" ng-if="!item.IS_HOUR_SINGLE_MERCHANDISE">
                                                        <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quanlity" ng-click="minusQuanlity(item);">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                    </span>
                                                    <input ng-if="!item.IS_HOUR_SINGLE_MERCHANDISE" type="text" enter style="height: 30.5px;text-align: right;" name="quanlity" ng-model="item.SOLUONG" onfocus="this.select()" class="form-control input-number" value="0" min="0" max="100" ng-change="changeSoLuong(item);">
                                                    <div ng-if="item.IS_HOUR_SINGLE_MERCHANDISE" ng-bind-html="item.textThoiGian"></div>
                                                    <span class="input-group-btn" ng-if="!item.IS_HOUR_SINGLE_MERCHANDISE">
                                                        <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quanlity" ng-click="plusQuanlity(item);">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td ng-class="{highlightTd: item.MAHANG === data.MAHANG_DICHVU}" style="padding: 0 0 !important;">
                                                <input ng-if="!item.IS_HOUR_SINGLE_MERCHANDISE" type="text" class="form-control" ng-model="item.GIABANLE_VAT" onfocus="this.select()" autofocus ng-change="changeGiaBanLeVat(item);" ng-readonly="!item.IS_EDIT_VALUE" awnum="number-utc" style="width: 100%; text-align: right; margin-top: 7px;">
                                                <select ng-if="item.IS_HOUR_SINGLE_MERCHANDISE" id="_giaBanLeVat" name="_giaBanLeVat" ng-model="item.GIABANLE_VAT" required ng-options="opt.GIATRI as opt.DESCRIPTION for opt in item.LISTCOST" class="form-control" awnum="number-utc" style="width: 100%; text-align: right; margin-top: 7px;"></select>
                                            </td>
                                            <td>
                                                <input ng-if="!item.IS_HOUR_SINGLE_MERCHANDISE" awnum="number-utc" type="text" enter style="height: 30.5px;text-align: right;width: 100%;" ng-model="item.THANHTIEN" readonly>
                                                <div ng-if="item.IS_HOUR_SINGLE_MERCHANDISE" ng-bind-html="item.textThanhTien" readonly></div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-warning" ng-click="removeItem(item);" title="Loại bỏ sản phẩm khỏi danh sách" ng-if="!item.IS_HOUR_SINGLE_MERCHANDISE">
                                                    <i class="zmdi zmdi-close"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>