<div role="document">
    <div class="modal-dialog modal-confirm">
        <h5 class="modal-title" id="largeModalLabel">{{title();}}</h5>
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="fa fa-times"></i>
                </div>
                <h4 class="modal-title customize">Bạn có chắc không?</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có thực sự muốn xóa những hồ sơ này? Quá trình này không thể được hoàn tác.</p>
            </div>
            <div class="modal-footer">
                <button type="button" prevent-default class="btn btn-warning" ng-disabled="_form.$invalid" ng-click="delete()"><i class="fa fa-trash-alt"></i>&nbsp;&nbsp;{{config.label.btnDelete}}</button>
                <button type="button" prevent-default class="btn btn-warning btn-lg" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-calendar-times"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
            </div>
        </div>
    </div>
</div>
