 <!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content">
        <div class="header__navbar" ng-if="currentUser">
            <ul class="list-unstyled">
                <li class="has-sub" ng-repeat="data in treeMenu.CHILDREN">
                    <a href="">
                        <i class="{{data.EXTEND_VALUE}}"></i>{{data.TEXT}}
                        <span class="bot-line"></span>
                    </a>
                    <tree ng-if="data.CHILDREN && data.CHILDREN.length > 0" tree='data.CHILDREN'></tree>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- END HEADER DESKTOP-->