<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Page-->
    <title>Phần mềm Karaoke</title>
    <link rel="shortcut icon" type="image/x-icon" href="/ERBus/img/icon/favicon.ico">
    <script src="/ERBus/lib/jquery-3.3.1.slim.js"></script>
    <script src="/ERbus/vendor/bootstrap/popper.min.js"></script>
    <script src="/ERbus/vendor/bootstrap/bootstrap.min.js"></script>
    <link href="/ERBus/js/notifications/Lobibox.min.css" rel="stylesheet" />
    <link href="/ERBus/js/notifications/notifications.css" rel="stylesheet" />
    <script src="/ERBus/js/notifications/Lobibox.js"></script>
    <link href="/ERBus/css/ng-tags-input.min.css" rel="stylesheet" />
    <link href="/ERBus/css/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="/ERBus/css/kendo/kendo.blueopal.min.css" rel="stylesheet" />
    @*XLXS*@
    <script src="/ERBus/js/xlsx/xlsx.full.min.js"></script>
    <script src="/ERBus/js/xlsx/jszip.js"></script>
    <script src="/ERBus/js/xlsx/xlsx.js"></script>
    <script src="/ERBus/js/xlsx/FileSaver.js"></script>
    <!-- Fontfaces CSS-->
    <link href="/ERbus/css/font-face.css" rel="stylesheet" media="all">
    <link href="/ERbus/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/ERbus/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/ERbus/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/ERBus/css/bootstrap-glyphicons.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS-->
    <link href="/ERBus/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/ERbus/css/theme.css" rel="stylesheet" media="all">
    @*----*@
    <link href="/ERBus/utils/loading-bar/loading-bar.min.css" rel="stylesheet" type="text/css" />
    <link href="/ERBus/utils/ui-grid/ui-grid.min.css" rel="stylesheet" type="text/css" />
    <link href="/ERBus/css/loading-bar.css" rel="stylesheet" type="text/css" />
    <link href="/ERBus/css/angular-material.css" rel="stylesheet" type="text/css" />
    <!--home-->
    <script>
        document.write('<base href="' + document.location.pathname + '" />')
    </script>
</head>
<body>
    <div ui-view="viewRoot" id="mainApp"></div>
    <script type="text/javascript" data-main="/ERBus/main.js" src="/ERBus/lib/require.js" charset="UTF8"></script>
</body>
</html>