<div role="document">
    <div class="modal-header">
        <h5 class="modal-title" id="largeModalLabel">{{title();}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <i class="zmdi zmdi-close"></i>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="_form">
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class="form-control-label">Mã kho hàng</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="_maKho" name="_maKho" ng-model="target.MAKHO" required placeholder="Nhập mã kho hàng" class="form-control" disabled>
                    <small class="form-text text-muted" ng-show="_form._maKho.$dirty && _form._maKho.$invalid">
                        <span ng-show="_form._maKho.$error.required">Mã kho hàng không được để trống</span>
                    </small>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class="form-control-label">Tên kho hàng</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="_tenKho" name="_tenKho" ng-model="target.TENKHO" required placeholder="Nhập tên kho hàng" class="form-control" disabled>
                    <small class="form-text text-muted" ng-show="_form._tenKho.$dirty && _form._tenKho.$invalid">
                        <span ng-show="_form._tenKho.$error.required">Tên kho hàng không được để trống</span>
                    </small>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class="form-control-label">Diễn giải</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="_dienGiai" name="_dienGiai" ng-model="target.DIENGIAI" placeholder="Thông tin kho hàng" class="form-control" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="select" class="form-control-label">Trạng thái</label><span style="color: red" title="Bắt buộc phải nhập"> (*)</span>
                </div>
                <div class="col-12 col-md-9">
                    <select id="_trangThai" name="_trangThai" ng-init="target.TRANGTHAI = 10" ng-model="target.TRANGTHAI" required ng-options="opt.VALUE as opt.TEXT for opt in tempData('status')" class="form-control" disabled></select>
                    <small class="form-text text-muted" ng-show="_form._trangThai.$dirty && _form._trangThai.$invalid">
                        <span ng-show="_form._trangThai.$error.required">Trạng thái không được để trống</span>
                    </small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" prevent-default class="btn btn-warning" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-window-close"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
    </div>
</div>